* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}





body {
  background: #0d0d0d;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}



#results {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 12px;
  max-width: 1200px;
  justify-content: center;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}


.movie-card {
  background: #1a1a1a00;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s ease;
  

}

.movie-card:hover {
  transform: scale(1.03);
  border: #ffffff solid 2px;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.year-runtime {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.year-runtime p {
  margin: 0;
}

strong {
  color: #767676;
}


#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

h3 {
  margin: 8px 0 5px 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

#searchInput {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0 0 5px hsla(0, 0%, 12%, 0.412);
}

#searchBtn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: hsla(345, 100%, 50%, 0.412);
  color: #ffffff;
  cursor: pointer;
  margin-left: 22px;
}
#searchBtn:hover {
  background: hsla(345, 100%, 50%, 0.612);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0));
  z-index: -1;
  pointer-events: none;
}

.movie-container {
  max-width: 100%; 
  overflow-x: hidden;
  display: flex;
  gap: 50px;
  padding: 20px;
}
.movie-container img {
  max-width: 100%;
}
.info {
  max-width: 600px;
}

@media (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .movie-container img {
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  .info {
    width: 90%;
  }
}




