body {
  background: #0d0d0d;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

#results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.movie-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
}


#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

h4 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  color: aqua;
}

#searchInput {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 500px;
  margin-bottom: 20px;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0 0 5px hsla(345, 100%, 50%, 0.412);
}

#searchBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 500px;
  background: hsla(345, 100%, 50%, 0.412);
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}